<h1 class="department-name">Mis estudiantes supervisados</h1>
<% 
advisor_of = [] 
@students.each do |s| 
  if current_user.id == s.user.id
    advisor_of << s.student.id
  end
end 
%>
<table class="table is-fullwidth">
  <tr>
  	<th>Matrícula</th>
  	<th>Nombre</th>
  	<th>Supervisores</th>
  </tr>
  <% @students.each do |s| %>
    <tr>
    	<td><%= s.student.identificator %></td>
    	<td><%= s.student.first_name %> <%= s.student.last_name %></td>
    	<td>
    		<% cur_sup = [] %>
    		<% s.student.supervisors.each do |sup| %>
    		  <%= sup.user.first_name %> <%= sup.user.last_name %>
    		  <% cur_sup << sup.user.id %> 
    		  <% if sup.is_advisor %>
    		    <span class="tag is-warning  is-light">Asesor</span>
              <% else %>
                <span class="tag is-primary  is-light">Adicional</span> 
                <% if advisor_of.include? s.student.id  %>
                  <span class="icon has-text-grey del-supervisor" data-sup-id="<%= sup.id %>"><i class="fas fa-times"></i></span></a>
                <% end %>
    		  <% end %>
    		  <br>
    		<% end %>
    		<table>
    		  <tr>
                <td>
                	
                	<div class="select">
                	  <select name="user_id" id="user_id_<%= s.student.id %>">
                		<% User.where(status: User::ACTIVE).order(:first_name, :last_name).each do |emp| %>
                		  <% next if emp.is_student %>
                		  <% next if cur_sup.include? emp.id %>
                		  <option value="<%= emp.id.to_s %>"><%= emp.first_name %> <%= emp.last_name %></option>
                	    <% end %>
                	  </select>
                    </div>
                </td>
                <td>
                	<button class="button add-supervisor" data-student-id="<%= s.student.id %>">Agregar</button>
                </td>
              </tr>
            </table>
    	</td>
  <% end %>
</table>