<%= form_with(url: "/registro/guardar-salida", method: "post", remote: false) do %>
<input type="hidden" name="id" value="<%= @schedule.id %>">
<div class="columns is-centered"><div class="column is-half">
<div class="card card-today">
  <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48"><img src="<%= @schedule.user.display_url %>" class="is-rounded" alt="<%= @schedule.user.first_name %>"></figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= @schedule.user.first_name %> <%= @schedule.user.last_name %></p>
            <p class="subtitle is-6"><%= @schedule.user.department.name %></p>
          </div>
        </div>

        <div class="content">
        	<%
        	  if @schedule.user.is_student
                hours = "#{@schedule.start / 100}:00 - #{@schedule.end / 100}:00"
        	  elsif @schedule.h1 && @schedule.h2 
        	  	hours = "Hoy todo el día"
        	  elsif @schedule.h1 && !@schedule.h2 
        	  	hours = "Hoy de 8:00 a 13:30"
        	  else
        	    hours = "Hoy de 14:30 a 20:00"
        	  end	
        	%>

        	<strong>Programado:</strong> <%= hours %>
            <% if @schedule.user.is_student %>
              <% time = "#{DateTime.now.hour}#{DateTime.now.minute.to_s.rjust(2, '0')}".to_i %>
              <% if time > @schedule.end.to_i %>
                <span class="tag is-warning">Excede la hora de salida se notificará a asesor</span>
              <% end %> 
            <% end %>
            <br>
        	<strong>Autorizado por:</strong> <%= @schedule.authorized_by.first_name %> <%= @schedule.authorized_by.last_name %><br>
        	<strong>Motivo:</strong> <%= @schedule.notes %><br>
        	<strong>Observaciones:</strong> <%= @schedule.user_notes %><br>
        	<strong>Lista de verificación:</strong> <span class="icon has-text-success"><i class="fas fa-check"></i></span><br><br>
        	<strong>Temperatura:</strong> <%= @schedule.temperature %><br>
        	<strong>Notas de salida:</strong><br>
            <input type="text" name="out_notes" class="input" value="<%= @schedule.out_notes %>">
			<div class="save-checklist">
			  <% if @schedule.out.nil? %>
			  
			  <button class="button is-success" type="submit">Registrar salida</button>
			  <% end %>
			</div>
        </div>
      </div>

</div>
</div></div>
<% end %>