<% if !current_user.course %>
  <br><br>
  <div class="notification is-primary">Es necesario tomar el curso de <strong>"Recomendaciones para un retorno seguro al trabajo ante el COVID-19"</strong> en la página <a href="https://climss.imss.gob.mx/">https://climss.imss.gob.mx/</a>.</div>
<% end %>
<% if @today_schedule %>
<%= form_with(url: "/guardar-verificacion", method: "post", remote: false) do %>
<input type="hidden" name="id" value="<%= @today_schedule.id %>">
<div class="card card-today">
  <div class="card-content">
  	<div class="columns">
  	  <div class="column is-narrow">
  	    <% if @today_schedule.passed.nil? %>
  	    <div class="today-status">
  	      <div class="icon has-text-warning"><i class="fas fa-exclamation"></i></div><br>
  	      No ha sido llenada la<br>lista de verificación
  	    </div>
        <% elsif @today_schedule.passed %>
          <% url = "http://asistencia.cimav.edu.mx/registro/entrada/#{@today_schedule.id}" %>
          <div style="text-align: center;">
          <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=<%= url %>&choe=UTF-8" alt="QR">
          </div>
          <div class="verified"><span class="icon has-text-success"><i class="fas fa-check"></i></span> Verificado</div>
        <% else %>
        <div class="today-status">
          <div class="icon has-text-danger"><i class="fas fa-times"></i></div><br>
  	      No pasó la<br>lista de verificación
  	    </div>  
        <% end %>
      </div>
      <div class="column">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48"><img src="<%= current_user.display_url %>" class="is-rounded" alt="<%= current_user.first_name %>"></figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= current_user.first_name %> <%= current_user.last_name %></p>
            <p class="subtitle is-6"><%= current_user.department.name %></p>
          </div>
        </div>

        <div class="content">
        	<%
            if current_user.is_student
              hours = "#{@today_schedule.start / 100}:00 - #{@today_schedule.end / 100}:00"
        	  elsif @today_schedule.h1 && @today_schedule.h2 
        	  	hours = "Hoy todo el día"
        	  elsif @today_schedule.h1 && !@today_schedule.h2 
        	  	hours = "Hoy de 6:00 a 12:00"
        	  else
        	    hours = "Hoy de 13:00 a 19:00"
        	  end	
        	%>
          
        	<strong>Programado:</strong> <%= hours %><br>
          <strong>Motivo:</strong> <%= @today_schedule.notes %><br>
        	<strong>Autorizado por:</strong> <%= @today_schedule.authorized_by.first_name %> <%= @today_schedule.authorized_by.last_name %><br>
          <% if current_user.is_student %>
            <strong>Notas:</strong> Es necesario que al ingresar al CIMAV se encuentren al menos 1 de las siguientes personas:
            <ul>
            <% current_user.supervisors.each do |s| %>
              <li><%= s.user.first_name %> <%= s.user.last_name %></li>
            <% end %>
            </ul>
          <% end %>
        	<% if !@today_schedule.in.nil? %>
            <% if current_user.location.name != 'Chihuahua'
                plus_in = @today_schedule.in + 1.hours rescue '--'
                plus_out = @today_schedule.out + 1.hours rescue '--'
            %>
              <strong>Entrada: </strong> <%= l plus_in.to_datetime, format: "%H:%M" %>
              <strong> Salida: </strong> <%= l plus_out.to_datetime, format: "%H:%M" rescue '--' %>
            <% else %>
              <strong>Entrada: </strong> <%= l @today_schedule.in.to_datetime, format: "%H:%M" %>
              <strong> Salida: </strong> <%= l @today_schedule.out.to_datetime, format: "%H:%M" rescue '--' %>
            <% end %>
        	  
            <% supervised_students = current_user.student_supervisor.order("is_advisor DESC") %>
            <% if supervised_students.count > 0 %>
               <%
                 advisor_of = [] 
                 supervised_students.each do |s| 
                    if current_user.id == s.user.id
                      advisor_of << s.student.id
                    end
                  end 
                %>
               <br><br>
               <strong>Mis estudiantes supervisados:</strong><br>
               <table class="table is-fullwidth">
                  <tr>
                    <th>Matrícula</th>
                    <th>Nombre</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Supervisores</th>
                  </tr>
                  <% supervised_students.each do |s| %>
                    <% s_today_schedule = s.student.today_schedule %>
                    <tr>
                      <td><%= s.student.identificator %></td>
                      <td><%= s.student.first_name %> <%= s.student.last_name %>
                        <% if s.student.is_in? %> 
                            <span class="icon has-text-success"><i class="fas fa-check"></i></span> 
                          <% else %> 
                            <span class="icon has-text-danger"><i class="fas fa-times"></i></span> 
                          <% end %>
                      </td>
                      <td>
                        <%= l s_today_schedule.in.to_datetime, format: "%H:%M" rescue '--' %></td>
                      </td>
                      <td>
                        <%= l s_today_schedule.out.to_datetime, format: "%H:%M" rescue '--' %></td>
                      </td>
                      <td>
                        <% cur_sup = [] %>
                        <% s.student.supervisors.each do |sup| %>
                          <%= sup.user.first_name %> <%= sup.user.last_name %>
                          <% if sup.user.is_in? %> 
                            <span class="icon has-text-success"><i class="fas fa-check"></i></span> 
                          <% else %> 
                            <span class="icon has-text-danger"><i class="fas fa-times"></i></span> 
                          <% end %>
                          <% cur_sup << sup.user.id %> 
                          <% if sup.is_advisor %>
                            <span class="tag is-warning  is-light">Asesor</span>
                          <% else %>
                            <span class="tag is-primary  is-light">Adicional</span>     
                          <% end %>

                          <br>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>

                </table>
            <% end %>
        	<% end %>
        	<br><br>
        	<strong>Lista de verificación</strong>
			<table class="table small-table">
			  <tr><th></th><th>SÍ</th><th>NO</th></tr>
			  <% c = 0
			     if !@today_schedule.in.nil? 
			     	q_disabled = 'disabled' 
			     else 
			     	q_disabled = ''
			     end

			     Schedule::QUESTIONS.each do |q| %>
			     <% 
			       c = c + 1 

			       if @today_schedule["q#{c}"].nil?
			         q_true = ''
			         q_false = ''
			       elsif @today_schedule["q#{c}"]
                     q_true = 'checked'
			         q_false = ''
			       else 
			       	 q_true = ''
			         q_false = 'checked'
			       end 
			       
			     %>
			     <tr>
			     	<td><%= q %></td>
			     	<td><input type="radio" name="q<%= c %>" value="true" <%= q_true %> <%= q_disabled %>></td>
			     	<td><input type="radio" name="q<%= c %>" value="false" <%= q_false %> <%= q_disabled %>></td>
			     </tr>
			  <% end %>
			  <tr>
			  	<td colspan="3">
			  		Observaciones:<br>
			  		<input type="text" name="user_notes" class="input" <%= q_disabled %> value="<%= @today_schedule.user_notes %>">
			</table>
			<div class="save-checklist">
			  <% if @today_schedule.in.nil? %>
        <p>Declaro que estoy consciente de la veracidad de mis respuestas y de la responsabilidad legal de omitir detalles relevantes acerca del estado de salud</p>

			  <button class="button is-success" type="submit">Actualizar</button>
			  <% end %>
			</div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% elsif current_user.unlimited %>
<div class="card card-today">
  <div class="card-content">
    <div class="columns">
      <div class="column is-narrow">
        <div class="today-status">
          <div class="icon has-text-warning"><i class="fas fa-unlock"></i></div><br>
          Acceso ilimitado
        </div>
      </div>
      <div class="column">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48"><img src="<%= current_user.display_url %>" class="is-rounded" alt="<%= current_user.first_name %>"></figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= current_user.first_name %> <%= current_user.last_name %></p>
            <p class="subtitle is-6"><%= current_user.department.name %></p>
          </div>
        </div>

        <div class="content">
          <input type="text" class="input" name="notes" id="unlimited-notes" value="" placeholder="¿Motivo?"><br/><br/>
          <button class="button is-link" id="create-unlimited">Generar entrada para hoy</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<% else %>
<div class="not-today">
	No tienes programadas entradas para hoy.
</div>
<% end %>
