<!DOCTYPE html>
<html class='has-navbar-fixed-top'>
  <head>
    <title>Asistencia CIMAV</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= form_with(url: "/registro/iniciar-sesion", method: "post", remote: false) do %>

  	<div id="login-box">
  	  <div class="logo"><%= image_tag 'logo-color.svg' %></div>
  	  <h1>Registro de Asistencia</h1>
      <br><br>
      <input type="password" name="password" class="input" placeholder="Contraseña">
      <% if params[:fail] %>
        <br><br>
        <div class="notification is-danger">Contraseña incorrecta</div>
      <% end %>
      <input type="submit" class="button is-link register-login-button" value="Iniciar sesión">
  	</div>
    <% end %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </body>
</html>