<h1 class="department-name">Registro de salidas</h1><br>
<% if @schedules.count > 0 %>
<table class="table is-fullwidth is-hoverable is-bordered schedule-table small-table">  
  <% @schedules.each do |s| %>
    <tr>
      <td class="td-img td-center"><img class="is-rounded" src="<%= s.user.display_url %>">
        <% if s.user.is_student  %>
        <span class="tag is-warning  is-light">Estudiante</span>
        <% else %>
        <span class="tag is-primary  is-light">Empleado</span>
        <% end %>
      </td>
      <td>
      	<strong><%= s.user.fullname %></strong><br>
        <% 
        if s.user.is_student
          hours = "#{s.start / 100}:00 - #{s.end / 100}:00"
        elsif s.h1 && s.h2 
          hours = "Todo el día"
        elsif s.h1 && !s.h2 
          hours = "De 6:00 a 12:00"
        else
          hours = "De 13:00 a 19:00"
        end 
        %>
        Horario:  <%= hours %><br>
        Notas: <%= s.notes %><br>
        Autorizado por: <%= s.authorized_by.first_name %> <%= s.authorized_by.last_name %><br>
        Entrada: <%= l s.in.to_datetime, format: "%H:%M" rescue '--' %><br>
        Temperatura: <%= s.temperature %>
      </td>
      <td class="td-center">
        <% has_errors = false %>
        <% if !s.user.is_student %>
          <% s.user.student_supervisor.each do |e|%>
            <% if e.student.is_in? 
              sups = 0
              e.student.supervisors.each do |sup| 
                if sup.user.is_in?
                  sups = sups + 1
                end
              end %>
              <% if sups <= 1 %>
                <% has_errors = true %>
                <%= e.student.first_name %> <%= e.student.last_name %> esta dentro y solo hay un supervisor dentro<br>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% if !has_errors %>
          <a href="/registro/salida/<%= s.id %>" class="button is-danger" >Dar salida</a>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
<div class="not-today">
  No hay salidas pendientes
</div>
<% end %>
