<h1 class="department-name">Registro</h1>
<h2 class="schedule-date">
  <a href="/registro/ver/<%= @yesterday %>"><span class="icon"><i class="fas fa-caret-left"></i></span></a>
  <%= l @date.to_date, format: "%A %d de %B de %Y" %>
  <a href="/registro/ver/<%= @tomorrow %>"><span class="icon"><i class="fas fa-caret-right"></i></span></a>
</h2>
<% if @schedules.count > 0 %>

<table class="table is-fullwidth is-hoverable is-bordered schedule-table small-table">
  <tr>
  	<th></th>
  	<th></th>
  	<th>Nombre</th>
    <th>Hora</th>
    <th>Tipo</th>
  	<th class="td-center"><span title="Temperatura">Temp.</span></th>
  	<th class="td-center">Entra</th>
  	<th class="td-center">Sale</th>
    <th>Notas de salida</th>
  </tr>
  
  <% @schedules.each do |s| %>
    <tr>
      <td class="td-center">
      	<% if s.passed.nil? %>
  	      <span class="icon has-text-warning"><i class="fas fa-exclamation"></i></span>
        <% elsif s.passed %>
          <span class="icon has-text-success"><i class="fas fa-check"></i></span>
        <% else %>
          <span class="icon has-text-danger"><i class="fas fa-times"></i></span>
        <% end %>
      </td>
      <td class="td-img td-center"><img class="is-rounded" src="<%= s.user.display_url rescue '--' %>"></td>
      <td><%= s.user.fullname rescue '--' %></td>
      <td>
      	
      	<% 
        if s.user.is_student
              hours = "#{s.start / 100}:00 - #{s.end / 100}:00"
        elsif s.h1 && s.h2 
    	  	hours = "Todo el día"
    	  elsif s.h1 && !s.h2 
    	  	hours = "De 8:00 a 13:30"
    	  else
    	    hours = "De 14:30 a 20:00"
    	  end	
        %>
        <%= hours %>
      </td>
      <td><% if s.user.is_student  %>
        <span class="tag is-warning  is-light">Estudiante</span>
        <% else %>
        <span class="tag is-primary  is-light">Empleado</span>
        <% end %>
      </td>
      <td class="td-center"><%= s.temperature %></td>
      <td class="td-center"><%= l s.in.to_datetime, format: "%H:%M" rescue '--' %></td>
      <td class="td-center"><%= l s.out.to_datetime, format: "%H:%M" rescue '--' %></td>
      <td class="td-center"><%= s.out_notes  %></td>
    </tr>
  <% end %>

</table>
<% else %>
<div class="not-today">
  No hay registros para este día
</div>
<% end %>