<h1 class="department-name">Registro de salidas</h1><br>
<% if @schedules.count > 0 %>
<table class="table is-fullwidth is-hoverable is-bordered schedule-table small-table">  
  <% @schedules.each do |s| %>
    <tr>
      <td class="td-img td-center"><img class="is-rounded" src="<%= s.user.display_url %>">
        <% if current_user.is_student  %>
        <span class="tag is-warning  is-light">Estudiante</span>
        <% else %>
        <span class="tag is-primary  is-light">Empleado</span>
        <% end %>
      </td>
      <td>
      	<strong><%= s.user.fullname %></strong><br>
        <% if s.h1 && s.h2 
          hours = "Todo el día"
        elsif s.h1 && !s.h2 
          hours = "De 8:00 a 13:30"
        else
          hours = "De 14:30 a 20:00"
        end 
        %>
        Horario:  <%= hours %><br>
        Notas: <%= s.notes %><br>
        Autorizado por: <%= s.authorized_by.first_name %> <%= s.authorized_by.last_name %><br>
        Entrada: <%= l s.in.to_datetime, format: "%H:%M" rescue '--' %><br>
        Temperatura: <%= s.temperature %>
      </td>
      <td class="td-center"><a href="/registro/salida/<%= s.id %>" class="button is-danger" >Dar salida</a></td>
    </tr>
  <% end %>
</table>
<% else %>
<div class="not-today">
  No hay salidas pendientes
</div>
<% end %>