<h1 class="department-name">Reporte</h1>
<form action="/reporte" method="post" id="reportform" name="reportform">
<table class="table is-fullwidth" style="font-size: 80% !important;">
  <tr>
    <th style="font-size: 80% !important;">Tipo</th>
  	<th style="font-size: 80% !important;">Departamento</th>
    <th style="font-size: 80% !important;">Grupo</th>
  	<th style="font-size: 80% !important;">Persona</th>
  	<th style="font-size: 80% !important;">Inicio</th>
  	<th style="font-size: 80% !important;">Fin</th>
  </tr>
  <tr>
    <td>
      <div class="select">
      <select style="font-size: 80% !important;" name="show_type" onchange="this.form.submit()">
        <%
        sel_E = ''
        sel_C = ''
        sel_A = ''
        sel_E = 'selected = "selected"' if params[:show_type] == 'E'
        sel_C = 'selected = "selected"' if params[:show_type] == 'C'
        sel_A = 'selected = "selected"' if params[:show_type] == 'A'
        %>
        <option value="E" <%= sel_E %>>Empleados</option>
        <option value="C" <%= sel_C %>>Catedras</option>
        <option value="A" <%= sel_A %>>Estudiantes</option>
      </select></div>
    </td>
    
  	<td>
  		<div class="select"><select style="font-size: 80% !important;" name="department_id" onchange="this.form.submit()">
  		  <option value="">--</option>
  		<% Department.order(:name).each do |d| 
  		  selected = ""
  		  selected = "selected = 'selected'" if d.id.to_i == @department_id.to_i %>

          <option value="<%= d.id %>" <%= selected %>><%= d.name %></option>
        <% end %>
        </select></div>
  	</td>
    <td>
      <div class="select"><select style="font-size: 80% !important;" name="rh_group" onchange="this.form.submit()">
        <option value="">--</option>
      <% User.select(:rh_group).distinct.each do |g| 
        next if g.rh_group == ''
        selected = ""
        selected = "selected = 'selected'" if g.rh_group == @rh_group %>
          <option value="<%= g.rh_group %>" <%= selected %>><%= g.rh_group %></option>
        <% end %>
        </select></div>
    </td>
  	<td>
      <div class="select"><select style="font-size: 80% !important;" name="user_id" onchange="this.form.submit()">
      	<option value="">--</option>
      	<% if !@department_id.blank? 
      	      users = User.where(status: User::ACTIVE, department_id: @department_id).order(:first_name, :last_name).each
           else 
           	  users = User.where(status: User::ACTIVE).order(:last_name, :first_name).each
           end
  		   users.each do |emp| 
  		   	 selected = ""
             selected = "selected = 'selected'" if emp.id.to_i == @user_id.to_i %>
             <option value="<%= emp.id %>" <%= selected %>><%= emp.last_name %> <%= emp.first_name %></option>
          <% end %>
        </select></div>
  	</td>
  	<td><input type="date" style="font-size: 80% !important;" class="input" name="date_start" value="<%= @date_start %>" onchange="this.form.submit()"></td>
  	<td><input type="date" style="font-size: 80% !important;" class="input" name="date_end" value="<%= @date_end %>" onchange="this.form.submit()"></td>
  </tr>
</table>
<% if @schedules.count > 0 %>
<div style="text-align: center; margin: 1em; font-size: 1.5em;">
<a onclick="doxls()">Versión excel</a>
</div>
<table class="table is-fullwidth is-hoverable is-bordered schedule-table small-table">
  <tr>
  	<th></th>
  	<th></th>
  	<th>#</th>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Nivel</th>
    <th>Departamento</th>
  	<th>Fecha</th>
  	<th>Motivo</th>
  	<th>Autorizó</th>
  	<th class="td-center"><span title="Temperatura">Temp.</span></th>
  	<th class="td-center">Entrada</th>
  	<th class="td-center">Salida</th>
  	<th class="td-center">Notas Salida</th>
    <th></th>
  </tr>
  <% total = 0 %>
  <% @schedules.each do |s| %>
    <% next if !@show_students && s.user.is_student   %>
    <% total = total + 1 %>
    <tr>
      <td class="td-center">
      	<% if s.passed.nil? %>
  	      <span class="icon has-text-warning"><i class="fas fa-exclamation"></i></span>
        <% elsif s.passed %>
          <span class="icon has-text-success"><i class="fas fa-check"></i></span>
        <% else %>
          <span class="icon has-text-danger"><i class="fas fa-times"></i></span>
        <% end %>
      </td>
      <td class="td-img td-center"><img class="is-rounded" src="<%= s.user.display_url %>"><br>
      <% if s.user.is_student  %>
        <span class="tag is-warning  is-light">Estudiante</span>
        <% else %>
        <span class="tag is-primary  is-light">Empleado</span>
        <% end %></td>
      <td><%= s.user.rh_id %></td>
      <td><%= s.user.fullname %></td>
      <td><%= s.user.rh_group %></td>
      <td><%= s.user.rh_level %></td>
      <td><%= s.user.department.name %></td>
      <td>
        	
      	<% if s.h1 && s.h2 
    	  	hours = "Todo el día"
    	  elsif s.h1 && !s.h2 
    	  	hours = "De 6:00 a 12:00"
    	  else
    	    hours = "De 13:00 a 19:00"
    	  end	
        %>
        <%= s.work_date %> <%= hours %>
      </td>
      <td><%= s.notes %></td>
      <td><%= s.authorized_by.first_name %> <%= s.authorized_by.last_name %><br><span class="tag is-light"><%= s.authorized_by.department.name rescue 'Sin departamento' %></span></td>
      <td class="td-center"><%= s.temperature %></td>
      <td class="td-center"><%= l s.in.to_datetime, format: "%H:%M" rescue '--' %></td>
      <td class="td-center"><%= l s.out.to_datetime, format: "%H:%M" rescue '--' %></td>
      <td><%= s.out_notes %></td>
      <td>
        <% if is_admin? %>
          <a href="<%= edit_schedule_path(s) %>">Editar</a>
        <% end %>
        <% if !s.edit_notes.blank? %>
          <br>
          <strong><%= s.edit_by_user.fullname %>:</strong><br><%= s.edit_notes %><br><%= l s.edit_date.to_datetime, format: "%Y-%m-%d %H:%M" rescue '--'  %>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>
<% else %>
<div class="not-today">
  No hay registros
</div>
<% end %>
</form>
<script>
  function doxls() {
    document.reportform.action = "/reporte/xls";
    document.reportform.submit();
    document.reportform.action = "/reporte";
  }
</script>
