<!DOCTYPE html>
<html class='has-navbar-fixed-top'>
  <head>
    <title>Asistencia CIMAV</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand" style="float: left; padding-top: 0.3em; padding-left: 0.3em;">
          <a href="/registro" class="button"><span class="icon"><i class="fas fa-home"></i></span></a>
           &nbsp;&nbsp;&nbsp;&nbsp;<a href="/registro/entradas" class="button is-success">Entradas</a>
           &nbsp;&nbsp;&nbsp;&nbsp;<a href="/registro/salidas" class="button is-danger">Salidas</a>
        </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <input type="hidden" id="max-occupation" value="100">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </body>
</html>
